body {
    width: 100%;
    min-width: 300px;
    /* background-image: url(../assets/conference.jpeg); */
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    color: rgb(179, 179, 179);
    text-align: center;
}
h3 {
    color: rgb(75, 75, 75);
    text-align: center;
}
p {
    color: rgb(41, 41, 41);
    text-align: center;
}
